@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1f1517;
    color: #ffffff;
}

html{
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a{
    outline: none;
    text-decoration: none;
}

ul{
    list-style: none;
}

nav{
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: "Teko", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 3rem;
}

.menu{
    display: flex;
    flex-direction: row;
    color: #fff2e780;
    gap: 3rem;
}

.github{
    color: #fff2e7;
    font-weight: 600;
    margin-left: 3rem;
}

main{
    display: flex;
    flex-direction: column;
}

.hero{
    background: #181012;
    max-width: 1120px;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    padding: 0rem 2rem;
    margin: auto;
    overflow: clip;
    align-items: center;
}

.principal{
    background: #181012;
}

.herocontent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destaque{
    font-family: Epilogue;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.marron{
    color: #a45449;
}

h1{
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
}

hr{
    border-color: #a45449;
}

.hero-subtitle{
    color: #c7bab3;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
}

.imgcontainer{
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
}

.imgcontainer > figure > img {
    width: 100%;
    border-radius: 0.5rem;
}

.bt-container{
    width: 100%;
    max-width: 1120px;
    margin: auto;
    transform: translate("0, -50%");
}

button{
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #a45449;
    cursor: pointer;
}

.receitas{
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
}

.receitas-cabeçalho{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-title{
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: #fff2e7;
}

.receitas-subtitle{
    color: #c7bab3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.receita-card-container{
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.receita-card{
    background: #241a1c;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 2rem;
}

.receita-card-cabeçalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.receita-card-cabeçalho-detalhes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.destaque-amarelo{
    color: #ea780e;
}

.receita-title{
    color: #fff2e7;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
}

.receita-avaliação{
    color: #756a67;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.receita-descricao{
    color: #c7bab3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.receita-autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.receita-autor > img{
    border-radius: 20rem;
    width: 1.5rem;
}

.receita-autor-nome{
    color: #c7bab3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #23181a;
}

.footer-copy{
    color: #fff2e7;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.footer-autor{
    color: rgba(255, 242, 231, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}
